# Crossbar parameters
sequential:                    SETME_SEQUENTIAL		# INT          1: Sequential (memory) mode, 2: Parallel (PIM) mode
memcelltype:                   0		# INT          1: SRAM, 2: RRAM, 3: FeFET. FeFET and RRAM are the same in this version.
accesstype:                    0		# INT          1: CMOS, 2: BJT, 3: Diode, 4. None. WARNING: Neurosim currently does not support BJT or Diode so those equal none
SARADC:                        0		# INT          0: Multi level sense amp, 1: SAR ADC
currentMode:                   0		# INT          0: Sense amp use voltage, 1: Sense amp use current. SAR ADC unaffected.
technode:                      SETME_TECHNOLOGY	        # INT          Technology
numRowSubArray:                SETME_ROWS		        # INT          # of rows in single subArray
numColSubArray:                SETME_COLS		        # INT          # of columns in single subArray
numColMuxed:                   SETME_COLS_MUXED		    # INT          How many columns share 1 ADC (for eNVM and FeFET) or parallel SRAM
levelOutput:                   SETME_NUM_OUTPUT_LEVELS	# INT          # of levels of the multilevelSenseAmp output, should be in 2^N-1 forms; e.g. 31 levels --> 5-bit ADC

# due the scaling, suggested SRAM cell size above 22nm: 160F^2
# SRAM cell size at 14nm: 300F^2
# SRAM cell size at 10nm: 400F^2
# SRAM cell size at 7nm:  600F^2

# Parameters for SRAM devices
memcellFeatureSize:            SETME_TECHNOLOGYe-9	# FLOAT        Feature size in nm of the memory cell
heightInFeatureSizeSRAM:       1		# FLOAT        SRAM Cell height in feature size
widthInFeatureSizeSRAM:        1		# FLOAT        SRAM Cell width in feature size
widthSRAMCellNMOS:             2		# FLOAT
widthSRAMCellPMOS:             1		# FLOAT
minSenseVoltage:               0		# FLOAT

# Parameters for analog synaptic devices.
heightInFeatureSize1T1R:       4		# FLOAT        1T1R Cell height in feature size WARNING: PROBLEMS IF THIS GOES < .25
widthInFeatureSize1T1R:        4		# FLOAT        1T1R Cell width in feature size
heightInFeatureSizeCrossbar:   4		# FLOAT        Crossbar Cell height in feature size
widthInFeatureSizeCrossbar:    4		# FLOAT        Crossbar Cell width in feature size
resistanceOn:                  1e4		# FLOAT        Ron resistance at Vr in the reported measurement data (need to recalculate below if considering the nonlinearity)
resistanceOff:                 1e6  	# FLOAT        Roff resistance at Vr in the reported measurement dat (need to recalculate below if considering the nonlinearity)
# Parameters for all devices
readVoltage:                   0		 # FLOAT        On-chip read voltage for memory cell
readPulseWidth:                SETME_READ_PULSE_WIDTH	    # FLOAT        Read pulse width in sec
accessVoltage:                 0		 # FLOAT        Gate voltage for the transistor in 1T1R
writeVoltage:                  0		 # FLOAT        Enable level shifer if writeVoltage > 1.5V
writePulseWidth:               0		 # FLOAT        Write pulse width in sec
numWritePulse:                 1		 # FLOAT        Number of write pulses on average
widthAccessCMOS:               1		 # FLOAT
accessTransistorResistance:    20000     # FLOAT        Resistance of the access transistor in ohm
vdd:                           SETME_VOLTAGE           # FLOAT        Supply voltage
vth:                           SETME_THRESHOLD_VOLTAGE # FLOAT        Threshold voltage
cellCapacitanceMultiplier:      1        # FLOAT        Multiplier for capacitance of the memory cell. Happens before cellCapacitanceAdjust
cellCapacitanceAdjust:          0         # FLOAT       Added parasitic capacitance of the memory cell. Happens after cellCapacitanceMultiplier
deviceRoadmap:                 -1        # INT          Roadmap: -1: LP, 1: HP, 2: LSTP

# Misc. component parameters
precision:                     SETME_N_BITS                     # INT          #Bits of adders, max pool, shift add, LUT
shift_register_precision:      SETME_SHIFT_REGISTER_N_BITS  	# INT          #Bits of the input of the shift add
pool_window:                   SETME_POOL_WINDOW		        # INT          Window size of the max pooling unit
n_adder_tree_inputs:           SETME_N_ADDER_TREE_INPUTS        # INT          # of inputs of the adder tree
n_mux_inputs:                  SETME_N_MUX_INPUTS               # INT          # of inputs of the adder tree
